

DB_PASSWORD=1234
DB_NAME=SecurityAlertDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMISE3Dsecreto32s

TELEGRAM_TOKEN=

TELEGRAM_GROUP_ID_1=
TELEGRAM_GROUP_ID_2=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

METEOMATICS_USERNAME=
METEOMATICS_PASSWORD=

OPENAI_API_KEY = 

STAGE=dev